.new {
    display: flex;
    justify-content: center;
}

.driver_register_fields {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.driver-alert {
    display: flex;
    color: red;
    font-size: medium;
    justify-content: center;
}
